/*Fontes usadas*/
@font-face {
    font-family: BebasNeue;
    src: url(../Fontes/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: RobotoMono;
    src: url(../Fontes/RobotoMono-VariableFont_wght.ttf);
}
@font-face {
    font-family: RobotoMonoSemiBoldItalic;
    src: url(../Fontes/RobotoMono-SemiBoldItalic.ttf);
}


/*Fundo*/
body {
    background-color: rgb(255, 255, 255);
}


/*Barra de navegação*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: white;
    padding: 10px 20px;
}

.logo {
    display: flex; 
    align-items: center; 
    cursor:auto
}

.logo img {
    width: 120px;
    height: auto;
    margin-right: 10px; 
}

.logo h1 {
    margin: 0; 
    font-family: RobotoMono;
    color: black;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 15px;
    transition: all 0.3s ease;
}

nav ul li a {
    color: rgb(179, 176, 176);
    text-decoration: none;
    font-family: BebasNeue;
    padding-right: 10px;
    font-size: 35px;
}

li:hover {
    transition: all 0.3s ease;
    transform: scale(1.1);
}

nav ul li a:hover {
    transition: all 0.3s ease;
    color: rgb(0, 0, 0);
}

#sobre_nos{
    color: black;
}


/*Titulo da Página */
.titulo{
    text-align: center;
    font-family: RobotoMono;
    color: rgb(0, 0, 0);
    text-decoration: underline;
}


/*Informações - Sobre nós*/
.logo1 {
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    font-family: RobotoMono;
}

.logo1 img {
    margin-left: 30px;
    max-width: 400px;
    height: auto;
    display: inline-block;  
}

.logo1 p {
    font-size: 16px;
    margin: 0 auto; 
    max-width: 600px; 
}


@media(min-width: 300px) and (max-width: 900px) {
    .logo1 {
        padding: 10px;
    }
    .logo1 img {
        max-width: 100%;
        height: auto;
    }
    .logo-container {
        text-align: center;
    }
    .logo-container a {
        display: inline-block;
        margin: 5px;
    }
}

.link1{
    color: black;
}

.link2{
    color: black;
}


/*Redes Sociais*/
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.logo-container a {
    margin: 0 20px;
}

.logo-container img{
    width: 30px;
    height: 0 auto;
    transition: all 0.3s ease;
}

.logo-container .email:hover{
    transition: all 0.3s ease;
    transform: scale(1.1);
}

.logo-container .instagram:hover{
    transition: all 0.3s ease;
    transform: scale(1.1);
}

.logo-container .spotify:hover{
    transition: all 0.3s ease;
    transform: scale(1.1);
}


/* Menu Burger */
.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.bar {
    width: 100%;
    height: 4px;
    background-color: #000;
}


/* Menu Responsivo */
@media (max-width: 900px) {
    .menu-toggle {
        display: flex;
    }

    nav ul {
        display: none;
        flex-direction: flex;
        justify-content: center;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        padding: 10px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        font-size: 20px;
    }
}


/*COPYRIGHT*/
.copyright{
    text-align: center;
    font-family: RobotoMonoSemiBoldItalic;
    color: black;
}


